*{
    margin: 0;padding: 0;
}
body{
    background-color: #efefef;
    color:red;
}
a{
    text-decoration:none;
}
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.a{
    list-style: none;
}
.b{
    float:left;
    margin-left:17px;
    margin-right:17px;
    position: relative;
    overflow:hidden; 
}
@keyframes fly{
    from{
        transform:scale(1) translate(-100%,0%);
    }
    to{
        transform:scale(1) translate(0%,0%);
    }
}
/* .fly1{
    background-color:#e06567;
    height: 3px;
    width: 100%;
    position: absolute;
    top:25px;
    left:0px;   
} */
.b:hover .fly1{
    background-color:#e06567;
    height: 3px;
    width: 100%;
    position: absolute;
    top:25px;
    left:0px; 
    animation: fly 0.5s linear;
}



.topNavBar{
    padding: 20px 5px 20px 15px;
    position: fixed;
    width: 100%;
    box-sizing: border-box; 
    
    /* padding: 20px 0px 20px 0px;
    position: fixed;
    width: 100%;
    然后通过描述logo的padding-left来实现左边的空格 */

    /* padding: 20px 5px 20px 15px;
    position: fixed;
    width: calc(100% - 20px);  */

}
.logo{
    float: left;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size:24px;
    font-weight:bold;
    font-family: 'Arial Black';
}
.RS{
    color:rgb(230, 104, 106);
    margin-right:6px;
}
.topNavBar .logo .card{
    color:#b7b7b7;
}
.nav1{
    float: right;
    padding-top: 7px;
    padding-bottom: 5px;
}
.topNavBar>nav>ul>li>a{
    float: left;
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display:block;
    cursor: default;
}

/* 
@keyframes slidein{
    from{
        transform:scale(1) translate(-100%,0%);
    }
    to{
        transform:scale(1) translate(0%,0%);
    }
} */

/* .topNavBar nav ul li a:hover{
    border-bottom: 3px solid #e06567;
} */
.banner{
    background-image: url(./img/milu1.jpg);
    height: 520px;
}
.banner .mask{
    height: 520px;
    background-color: rgba(0, 0, 0, 0.3);
}
.userCard{
    max-width: 940px;
    height: 525px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
}
.pictureAndText{
    width: 100%;
    background-color: #fff;
    height: 453px;
}
.picture{
    float: left;
    margin: 50px 65px 50px 60px;
    border-radius: 15px;
    overflow: hidden;
}
.text{
    float: left;
    color:#646967;
    height: 353px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 470px;
}
.userCard .welcome{
    background-color: #e6686a;
    color: white;
    display: inline-block;
    /* width: 70px;
    height: 29px;
    line-height: 29px;
    text-align: center; 
    新手做法，有bug不推荐使用
    方方的做法是由内向外去做*/
    padding:4px 16px 5px 16px;
    position: relative;
    border-radius: 5px;
}
.userCard .welcome .traingle{
    display: inline-block;
    border:10px solid transparent;
    width: 0px;
    /* height: 0px; 这句可不写*/
    border-top-width: 0px;
    border-left-color:#e6686a;
    padding-left: 10px;
    position: absolute;
    top:30px;
    left:10px;

}
h1{
    font-size: 32px;
    font-weight: lighter;
    color: #000;
    padding-top: 27px;
    padding-bottom: 5px;
}
p{
    color: #000;
}
hr{
    margin:20px 0 20px 0;
    border:none;
    border-top: 1px solid #dedede;
}
.userCard dt{
    float: left;
    width: 30%;
    margin:8px 0 8px 0;
    color: #000;
    font-weight: bold;
}
.userCard dd{
    float: left;
    width: 70%;
    margin:8px 0 8px 0;
    color: #9da0a7;
}
.media{
    /* width: 100%;  */
    height: 72px;
    background-color:#e6686a;
    position: relative;
}
footer .icon{
    width: 30px;
    height: 30px;
    fill:white;
    /* margin:0 16px;有点问题，对齐歪了 */
    /* vertical-align: top;设置了定位就没用了*/

}
footer .tubiao1{
    position:absolute;
    top:18px;
    left:300px;
}
footer .tubiao2{
    position:absolute;
    top:18px;
    left:420px;
}
footer .tubiao3{
    position:absolute;
    top:18px;
    left:540px;
}
.userCard > footer > a{
    padding:7px;
    border-radius: 50%;
    /* display: inline-block; */
}

.userCard > footer > a:hover{
    background-color:  #cf5d5f;
}
main{
    margin-top:-230px;
}